body {
background: #e3f2fd;
}

a {
text-decoration: none;
font-family: Arial;
}

p {
font-family: Arial;
}
h2 {
font-family: Arial;
}
h3 {
font-family: Arial;
}
h4 {
font-family: Arial;
}
h5 {
font-family: Arial;
}
th {
font-family: Arial;
}
td {
font-family: Arial;
}
form {
font-family: Arial;
}
