




<style>
body {
  background-image: url('https://img1.goodfon.com/wallpaper/nbig/0/79/zhivotnye-lyubov-love-koshka.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<h1 style="text-align:center"> Logged Out </h1>
<br>
<div align="center">
    <a href="{% url 'login' %}" style="text-decoration:none"> Click here to sign in again </a>
    <br>
    <hr>
    <br>
    <a href="{% url 'platinum:index' %}" style="text-decoration:none">Main Page</a>
</div>