{% extends 'platinum/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'platinum/css/style.css' %}">
{% block title%}
Platinum-2010
{% endblock %}

{% block content%}
<h2 class="text-center" style="font-family: Arial">TOP BRANDS</h2>
<div class="row">
    {% for brand in brands %}
    <div class="col-3 align-self-center">
        <div class="row my-2">
            <a href="{% url 'platinum:brand_detail' brand.id %}">
                <img src="{{ brand.img.url }}" class="img-fluid" style="width:200px">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
